body{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px ;
}
h1{
    font: weight 1000;
}
.text{
    color: tomato;
}
.fs{
    width: 40%;
    margin: 3%;
    padding: 2%;
    float: left;
}
.link{
    text-decoration: none;
    background-image: linear-gradient(to right, lightsalmon , tomato);
    padding: 10px 26px;
    border: 1px solid tomato ;
    border-radius: 6px;
    color: white;
}
.link2{
    text-decoration: none;
    background-image: linear-gradient(to right, lightsalmon , tomato);
    padding: 13px 20px;
    border: 1px solid tomato ;
    border-radius: 6px;
    color: white;
    margin: 40px;
}
section{
    overflow: hidden;
}
#experience{
    text-align: center;
}
.pd{
    width: 25%;
    margin: 3%;
    padding: 1%;
    float: left;
    border-radius: 27px;
    background-color: white;
    box-shadow: 5px 5px 40px gray;
}
.pd img{
    width: 100%;
}
.project{
    background-color: whitesmoke;
}
section.project{
    height: 800px;
}
.inquary{
    background-image: url(Images//lastpic.png);
    background-size: 800px 150px;
    background-repeat: no-repeat;
    height: 300px;
    background-position-x: center;
    background-position-y: 60px;
}
.inquarydiv{
    width: 50%;
    float: left;
}
.work{
    margin-left: 400px;
    margin-top: 118px;
    color: white;
}
.chat{
    margin-top: 111px;
    margin-left: 150px;
    position: absolute;
}
footer{
    text-align: center;
    color:rgb(85, 70, 70);
    font-size: 15px;
}